{template 'common/header'}
<link type="text/css" rel="stylesheet" href="{$_W['siteroot']}addons/{$_GPC['m']}/template/css/common.css"/>
<script type="text/javascript"  src="{$_W['siteroot']}addons/{$_GPC['m']}/template/js/common.js"/></script>
<div class="panel panel-default">
    <div class="panel-body b-main-title">
        djklfajlkdjkfl
    </div>
</div>
<div class="panel panel-default">
    <div class="option_search">
        <form method="get" action="" class="form-horizontal" id="search-form"
              style="margin-top: 20px;">
            <div class="form-group">
                <div class="col-sm-3" style="min-width: 200px;">
                    <button type="button" class="btn btn-success addmoodmessage" onclick="addImg()" style="height: 34px;">
                        新增
                    </button>
                    <button type="button" class="btn btn-danger delmoodmessage" id="delArrayInfo-btn"
                            style="height: 34px;">
                        批量删除
                    </button>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3" style="text-align: right;">
                    <div class='input-group'>
                        <input type="text" class="form-control" id="title" name="title" value=""
                               placeholder="请输入标题">
                        <span class='input-group-btn'>
                            <button type="submit" class="btn btn-success" id="searchInfo-btn" style="height: 34px;">
                                搜索
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table_content">
        <table class="table table-hover">
            <tr>
                <th><input type="checkbox" name="allChecked" onclick="setAllChecked(this);"/></th>
                <th>序号</th>
                <th>类别</th>
                <th>内容</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            {loop $moodList $k $v}
            <tr>
                <td>
                    <input type="checkbox" name="rowChecked" value="{$v['id']}"/>
                </td>
                <td>
                    {php echo ($_GPC['page'])?(($_GPC['page']-1)*10+$k+1):($k+1)}
                </td>
                <td>{$v['type']}</td>
                <td>{$v['content']}</td>
                <td>{$v['add_time']}</td>
                <td>
                    <div>
                        <button class="btn btn-default edit-btn editNoticeInfo"
                                onclick="editMoodmessage({$v['id']})">
                            编辑
                        </button>

                        <button class="btn btn-default del-btn" onclick="delMoodmessage({$v['id']})">
                            删除
                        </button>

                    </div>
                </td>
            </tr>
            {/loop}
        </table>
        {if $total==0}
        <div style="text-align: center;margin-bottom: 10px;">暂无数据</div>
        {/if}
        <div style="text-align: center;">{$pager}</div>
    </div>
</div>
{template 'common/footer'}
<script type="text/javascript">
    function addImg(){
        location.href="{php echo $this->createWebUrl('addimg')}";
    }
</script>
