{template 'common/header'}
<link type="text/css" rel="stylesheet" href="{$_W['siteroot']}addons/{$_GPC['m']}/template/css/common.css"/>
<script type="text/javascript"  src="{$_W['siteroot']}addons/{$_GPC['m']}/template/js/common.js"/></script>
<div class="panel panel-default">
    <div class="panel-body b-main-title">
        djklfajlkdjkfl
    </div>
</div>
<div class="panel panel-default">
    <div class="option_search">
        <form method="get" action="" class="form-horizontal" id="search-form"
              style="margin-top: 20px;">
            <div class="form-group">
                <div class="col-sm-3" style="min-width: 200px;">
                    <button type="button" class="btn btn-success addmoodmessage" data-toggle="modal"
                            data-target="#myModal"
                            style="height: 34px;">
                        新增
                    </button>
                    <button type="button" class="btn btn-danger delmoodmessage" id="delArrayInfo-btn"
                            style="height: 34px;">
                        批量删除
                    </button>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3" style="text-align: right;">
                    <div class='input-group'>
                        <input type="text" class="form-control" id="title" name="title" value=""
                               placeholder="请输入标题">
                        <span class='input-group-btn'>
                            <button type="submit" class="btn btn-success" id="searchInfo-btn" style="height: 34px;">
                                搜索
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table_content">
        <table class="table table-hover">
            <tr>
                <th><input type="checkbox" name="allChecked" onclick="setAllChecked(this);"/></th>
                <th>序号</th>
                <th>类别</th>
                <th>内容</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            {loop $moodList $k $v}
            <tr>
                <td>
                    <input type="checkbox" name="rowChecked" value="{$v['id']}"/>
                </td>
                <td>
                    {php echo ($_GPC['page'])?(($_GPC['page']-1)*10+$k+1):($k+1)}
                </td>
                <td>{$v['type']}</td>
                <td>{$v['content']}</td>
                <td>{$v['add_time']}</td>
                <td>
                    <div>
                        <button class="btn btn-default edit-btn editNoticeInfo"
                                onclick="editMoodmessage({$v['id']})">
                            编辑
                        </button>

                        <button class="btn btn-default del-btn" onclick="delMoodmessage({$v['id']})">
                            删除
                        </button>

                    </div>
                </td>
            </tr>
            {/loop}
        </table>
        {if $total==0}
        <div style="text-align: center;margin-bottom: 10px;">暂无数据</div>
        {/if}
        <div style="text-align: center;">{$pager}</div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="#" class="form-horizontal" id="form_data" style="margin-top: 0px;">
                    <input type="hidden" name="id" id="id" value=""/>
                    <div class="form-group">
                        <label for="category_name" class="col-sm-2 control-label">所属分类</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="type">
                                <option value="事业">事业</option>
                                <option value="爱情">爱情</option>
                                <option value="励志">励志</option>
                                <option value="生活">生活</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sys_name" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="content" placeholder="内容"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submitBtn" style="height: 34px;">
                    添加
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="height: 34px;">
                    取消
                </button>
            </div>
        </div>
    </div>
    <!-- 模态框 -->
{template 'common/footer'}
<script type="text/javascript">
    function editMoodmessage(id){
        $.post('{php echo $this->createWebUrl("getmoodmessage")}', {'moodmessage_id': id}, function (result) {
                    if (result.status == 'ok') {
                        $('input[name="id"]').val(result.data['id']);
                        $('option[value="' + result.data['type'] + '"]').prop("selected", true);
                        $('textarea[name="content"]').val(result.data['content']);
                        $('#myModal').modal('show');
                    } else {
                        alert(result.data);
                    }
        }, 'json');
    }
    $(function () {
            $("#submitBtn").click(function () {
                $.post('{php echo $this->createWebUrl("savemoodmessage")}', {'data': $('#form_data').serialize()}, function (result) {
                    if (result.status == 'ok') {
                        $('#myModal').modal('hide');
                        clearForm(form_data);
                        location.reload();
                    } else if (result.status == 'waring') {
                        alert(result.data);
                    } else {
                        alert(result.data);
                    }
                }, 'json');
            });

            $('#delArrayInfo-btn').click(function () {
                var isChecked = '';
                if ($("input[name='rowChecked']:checked").length <= 0) {
                    layer.msg('请选择批量删除的数据！', {time: 2000});
                    return;
                } else {
                    $('input[name="rowChecked"]:checked').each(function () {
                        isChecked += $(this).val() + ',';
                    });
                    $.post('{php echo $this->createWebUrl("delmoodmessage")}', {'ids': isChecked}, function (result) {
                        location.reload();
                        $('input[name="rowChecked"]:checked').each(function () {
                            $(this).removeAttr('checked');
                        });
                    });
                }
            });
        });
    </script>
